select {
    height: 48px;
    width: 250px;
    background-color: whitesmoke;
    border: 2px solid #797979;

    text-align: center;
}

#date-table td.display {
    height: 48px;
    width: 50%;
    border: 2px solid #8599bd;
    border-radius: 3px;

    text-align: center;
}

.month-caption {
    font-weight: bold;
    font-size: 24pt;
    background-color: #8599bd;
}

.saturday {
    background-color: #aabcdd;
}

.sunday {
    background-color: #8599bd;
}

.today {
    background-color: #ffa500 !important;
}

.changed {
    background-color: #109a71;
}

.revisit {
    background-color: #d1c438;
}

.multiple-entries {
    background-color: #d1c438;;
}

.not-assigned {
    background-color: #a6363e;
    border-color: #a6363e;
    color: whitesmoke;
}

.empty-table {
    visibility: hidden;
}

.empty-table:only-child {
    visibility: visible;
}

#doctor-selection-form {
    visibility: hidden;
}

td #doctor-selection-form {
    visibility: visible;
}

#ui-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    opacity: 0.8;
    background-color: #aabcdd;

    padding: 20px;

}

dialog p {
    text-align: center;
}

dialog button {
    width: 200px;
    height: 48px;
    background-color: whitesmoke;
    margin-top: 12px;
}