select {
    height: 48px;
    width: 250px;
    background-color: whitesmoke;
    border: 2px solid #797979;

    text-align: center;
}

#date-table td.display {
    height: 48px;
    width: 50%;
    border: 2px solid #797979;
    border-radius: 3px;

    text-align: center;
}

.month-caption {
    font-weight: bold;
    font-size: 24pt;
    background-color: cornflowerblue;
}

.saturday {
    background-color: #797979;
}

.sunday {
    background-color: #4c4c4c;
}

.today {
    background-color: chocolate !important;
}

.changed {
    background-color: #109a71;
}

.revisit {
    background-color: #9a8c10;
}

.not-assigned {
    background-color: #9a3940;
    color: whitesmoke;
}

#doctor-selection {
    visibility: hidden;
}

td #doctor-selection {
    visibility: visible;
}

#ui-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    opacity: 0.8;
    background-color: lightsteelblue;

    padding: 20px;

}