{% for date in dates %}
    {% if loop.previtem is not defined or loop.previtem.month != date.month %}
        <tr>
            <td colspan="2" class="display month-caption">{{ date|month }}</td>
        </tr>
    {% endif %}

    <tr>
        {% set date_value = date|ord %}

        <td class="display date-column d{{ date_value }} {{ date|weekday_class }}">{{ date|dt }}</td>

        {% if date_value in entries %}
            <td class="display name-cell{% if "," in entries[date_value] %} multiple-entries{% endif %}">
                {{ entries[date_value] }}
            </td>
        {% else %}
            <td class="display name-cell not-assigned">
                [Nicht vergeben]
            </td>
        {% endif %}


        <td></td>
    </tr>
{% endfor %}

<tr class="empty-table">
    <td colspan="3" class="display not-assigned">Noch keine Einträge vorhanden.</td>
</tr>