{% for date in dates %}
    {% if loop.previtem is not defined or loop.previtem.month != date.month %}
        <tr>
            <td colspan="2" class="display month-caption">{{ date|dt("%B") }}</td>
        </tr>
    {% endif %}

    <tr>
        <td class="display date-column d{{ date|ord }} {{ date|weekday_class }}">{{ date|dt }}</td>

        {% if date|ord in entries %}
            <td class="display name-cell">
                {{ entries[date|ord] }}
            </td>
        {% else %}
            <td class="display name-cell not-assigned">
                [Nicht vergeben]
            </td>
        {% endif %}


        <td></td>
    </tr>
{% endfor %}

<tr class="empty-table">
    <td colspan="3" class="display not-assigned">Noch keine Einträge vorhanden.</td>
</tr>