<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Termita</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style/style.css") }}" />
</head>

<body>
    <form id="ui-bar">
        <label for="doctor-filter">Dienste anzeigen für:</label>
        <select id="doctor-filter" name="filter_name">
            <option value="all">Alle</option>
            {% for doctor in doctors %}
                <option value="{{ doctor|e }}">{{ doctor|e }}</option>
            {% endfor %}
        </select>

        <label for="year-filter">Zeige Jahr:</label>
        <select id="year-filter" name="year">
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
    </form>

    <table id="date-table">

    </table>

    <br />
    <br />
    <br />

    <form id="doctor-selection-form">
        <select id="doctor-name-select">
                <option value="none">Auswählen</option>
                <option value="delete">[Termin löschen]</option>
            {% for doctor in doctors %}
                <option value="{{ doctor|e }}">{{ doctor|e }}</option>
            {% endfor %}
        </select>
    </form>

    <dialog id="replace-dialog">
        <form method="dialog">
            <p>Der Termin ist bereits vergeben, wie soll vorgegangen werden?</p>
            <button value="replace">Ersetzen</button>
            <button value="append">Hinzufügen</button>
            <button value="cancel" autofocus>Abbrechen</button>
        </form>
    </dialog>

    <dialog id="remove-from-group-dialog">
        <form method="dialog">
            <p>Wer soll von dem Termin entfernt werden?</p>
            <select id="remove-name-select">

            </select>
            <button value="cancel" autofocus>Abbrechen</button>
        </form>
    </dialog>

    <script type="text/javascript" src="{{ url_for("static", filename="js/main.js") }}"></script>
</body>

</html>